# This is an example file.
# Use a copy of this as a template for configuring a local `.env` file.
# When this webapp is run with foreman, variables defined in `.env` are
# loaded as environment variables.

OH_CLIENT_ID='client_id_here'
OH_CLIENT_SECRET='client_secret_here'
