/* Create new styles and override default Bootstrap here. */
body {
  font-size: 16px;
}

li {
  margin-bottom: 10px;
}

/* Messages
-------------------------------------------------- */
.message {
  margin: 15px 0;
  padding: 15px;
  background-color: #ddf9ff;
  border-style: solid;
  border-color: #333;
  border-width: 2px;
  border-radius: 6px;
}

.message.error {
  background-color: #ffeeee;
  border-color: #cc0000;
  font-weight: 800;
}

.message.success {
  background-color: #d9ffee;
  border-color: #00aa22;
}
